streamlit
openai
PyPDF2
requests
beautifulsoup4
nltk
numpy
pandas
torch
transformers
google-api-python-client
youtube-transcript-api
youtube-search
pypdf
langchain-openai
langchain-community
sentence-transformers
chromadb
flask
sqlite3
nltk
PyFPDF
fpdf
