os
time
streamlit
youtube_transcript_api
youtube-search-python
fpdf
langchain_openai
langchain_community
sentence-transformers
chroma
chromadb
pypdf
flask
sqlite3
re
textwrap
torch
transformers
nltk
